<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
   <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
  <div class="container flex flex-col md:flex-row items-center md:items-start md:justify-center pt-12 gap-4 h-screen ">
    
   
  </div>
  <script src="/js/exploreCG.js"></script>
<script src="/js/getIn.js"></script>
</body>
</html>